.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  text-align: center;
  background-color: yellow;
}
th {
  text-align: left;
}

body {
  background-color: #331E06;
}

h3 {
  font-style: italic;
}

table {
  margin-left: auto;
  margin-right: auto;
  background-color: green;
}

#logout {
  text-align: center;
  font-size: 300%; 
}
